* {
    border: 1px solid red;
}
.top-bar {
    height: 100px;
    width: 100vw;
    background-color: rgb(43, 43, 43);
    display: flex;
    padding: 10px;
    align-items: center;
}
.top-bar > div,
.top-bar > button {
    height: 50px;
    width: 100px;
}